.shadow{
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10);
}
.pad-top-15{
	padding-top:15px;
}
.mg-top-15{
	margin-top:15px;
}
.mg-top-25{
	margin-top:25px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
                              }